* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 6vh;
  border-top: medium solid lightblue;
  border-bottom: medium solid lightblue;
  background-color: aliceblue;
  color: cadetblue;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#calculator {
  border: medium solid lightblue;
}

#display {
  margin: 3px;
  border: medium solid lightblue;
  background-color: aliceblue;
  text-align: end;
  font-size: 1.8em;
  height: 56px;
  max-width: 252px;
  overflow: auto;
  color:cadetblue;
}

button {
  width: 60px;
  height: 40px;
  border: medium solid lightblue;
  background-color: aliceblue;
  color: cadetblue;
  font-size: 18px;
}

button:hover {
  scale: 1.05;
}

button:active {
  background-color: rgb(169, 211, 212);
}

#delete-one {
  width: 124px;
}